.Message-wrapper
  .Message-information
    .Message-information__name
    = message.user.name
    .Message-information__time
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .Message-textarea
    - if message.content.present?
      %p.Message-textarea__text
        = message.content
    = image_tag message.image.url, class: "Message__image" if message.image.present?